<h1>Stupid Coaching</h1>

<form id = "form" action="/answer" data-turbo="false">
  <input class="form-control form-control-sm" type="text" name="question" placeholder="Ask your coach anything">
  <input class="btn btn-primary mb-3" type="submit" value="Ask!">
</form>
